<!--==================== FOOTER ====================-->
<footer class="footer section">
    <div class="footer__container container grid">
        <div class="footer__content">
            <a href="#" class="footer__logo">
                <i class="ri-leaf-line footer__logo-icon"></i> Decoronce
            </a>
        </div>

        <div class="footer__content">
            <ul class="footer__data">
                <li class="footer__information">
                    <i class="ri-map-pin-2-line"></i>
                    <a target="_blank" href="https://www.google.com/maps/place/Azcu%C3%A9naga+419,+C1029AAI+Cdad.+Aut%C3%B3noma+de+Buenos+Aires/@-34.604268,-58.4033389,17z/data=!3m1!4b1!4m6!3m5!1s0x95bccaec98632b87:0xc96a4993b3f1cece!8m2!3d-34.604268!4d-58.400764!16s%2Fg%2F11c1yfm346?entry=ttu&g_ep=EgoyMDI0MDkxMS4wIKXMDSoASAFQAw%3D%3D">Azcuénaga 419, CABA, Buenos Aires</a>
                </li>
                <li class="footer__information">
                    <i class="ri-phone-line contact__icon"></i>
                            <a target="_blank" href="https://api.whatsapp.com/send?phone=5491161622602&text=Hola%2C%20me%20gustar%C3%ADa%20recibir%20informaci%C3%B3n%20sobre%20los%20productos">1161622602</a>
                </li>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Nuestras redes</h3>

            <ul class="footer__data"> 
                <div class="footer__social">
                    <a href="https://www.facebook.com/profile.php?id=100083393414013" class="footer__social-link">
                        <i class="ri-facebook-fill"></i>
                    </a>
                    <a href="https://www.instagram.com/decoronce419/?hl=es-la" class="footer__social-link">
                        <i class="ri-instagram-line"></i>
                    </a>
                    <a href="https://www.tiktok.com/@decoronce419" class="footer__social-link">
                        <i class="ri-tiktok-fill"></i>
                    </a>
                </div>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">
                Medios de pago
            </h3>

            <div class="footer__cards">
                <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" alt="Logo Visa" class="footer__card">
                <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" alt="Logo Mastercard" class="footer__card">
                <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png" alt="Logo Mercado pago" class="footer__card">
            </div>
        </div>
    </div>

    <p class="footer__copy">&#169; Developed by NataliSch </p>

    <div class="cajaWhatsapp">
        <a href="https://api.whatsapp.com/send?phone=5491161622602&text=Hola%2C%20me%20gustar%C3%ADa%20recibir%20informaci%C3%B3n%20sobre%20los%20productos" target="_blank"><img src="/Imagenes/iconos/icono-whatsapp.png" alt=" Icono Whatsapp"></a>
    </div>
</footer>