
<header class="header"><!--Inicio Header-->
    <nav class="nav container">
        <a href="/" class="nav__logo">
            <i class="ri-leaf-line nav__logo-icon"></i> DecorOnce
        </a>
        <ul class="navbar__menu">
            <li class="navbar__item ">
                <a class="navbar__link" href="/shop">Shop</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="/logout">Log out</a>
            </li>
        </ul>
        <!-- <iconify-icon class="icon-bar open-menu " icon="fe:bar" id="open-menu"></iconify-icon> -->
    </nav>
</header><!--Fin Header-->